{% extends "app/logged_in_base.html" %} 

{% block content %}
<div class="upload-model">
  <h1>upload a 3d model</h1>
  <form action="" class="form">
    <input type="file" name="upload" value="upload" />
    <button type="submit" class="upload-btn">Upload</button>
  </form>
</div>
<script>
  const form = document.querySelector(".form");
  form.addEventListener("submit", uploadModal);

  function uploadModal(e) {
    e.preventDefault();
    console.log("hi");

    const formData = new FormData(form);
    const file = formData.get("upload");
    console.log(file);
  }
</script>
{% endblock %}
